html {
	font-size: 14px;
	color: #555555;
}
html,body{
	height:100%;
	margin:0;
	padding:0;
}
a{
	color: #555555;
	text-decoration: none;
}
a img{
	border: none;
}
h1,h2,h3,h4,h5,h6,ul,li,dt,dd,dl{
	margin: 0;
	padding:0;
}
li{
	list-style-type: none;
}
.clearfix{
	clear: both;
}
#container{
	height: 100%;
	position: relative;
}
#aside{
	width: 30%;
	height: 100%;
	position: fixed;
	min-width: 200px;
	background: #e5e5e5;
	float: left;
	text-align: center;
}
#aside .infor{
	padding-top: 10%;
}
#gra{
	border-radius: 55px;
}
#content{
	float: right;
	width: 70%;
}
#content nav{
	line-height: 30px;
	position: fixed;
	top: 0;
	right: 5%;
	border-bottom: 1px solid #555555;
}
#content nav li{
	float: left;
	padding: 0 20px;
}

#content section{
	padding: 5%;
	margin-top: 30px;
}
