<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    </head>
    <body>
<body>
	<div id="container">
		<aside id="aside">
			<div class="infor">
				<img id="gra" src="http://himg.baidu.com/sys/portraitl/item/ea1bd703?t=1388018629"/>
				<p>{{ site.name }}</p>
			</div>
			<div class="motto">
				<p>不伴随痛楚的教训就没有意义，因为人若不牺牲什么，就不会有所收获。然而忍耐着痛楚并战胜它时，人就会获得不屈服于任何事物的坚韧的心……是的，犹如钢铁般的心。
				<br><br><span class="sign">—— 爱德华·艾力克 《鋼の錬金術師》</span></p>
			</div>			
		</aside>
		<div id="content">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a>Draw</a></li>
					<li><a href="{{ site.baseurl }}/about">About</a></li>
				</ul>
			</nav>
			<section>
				{{ content }}
			</section>
		</div>
	</div>
</body>	
</html>
